@import "../../App.scss";

.BirthdayListMenu {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    transition: ease-in-out 500ms;
    background-color: white;
}

.BirthdayListMenu .BirthdayListMenu--ListContainer.Empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    height: 100%;
}

.BirthdayListMenu .BirthdayListMenu--ListContainer.Empty p {
    text-align: center;
}

.BirthdayListMenu .BirthdayListMenu--Wrapper {
    max-height: 100vh;
    overflow-y: auto;
}

.BirthdayListMenu .BirthdayListMenu--Wrapper::-webkit-scrollbar {
    width: 8px;
}

.BirthdayListMenu .BirthdayListMenu--Wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.BirthdayListMenu .BirthdayListMenu--Wrapper::-webkit-scrollbar-thumb {
    background: #888;
}

.BirthdayListMenu .BirthdayListMenu--Wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.BirthdayListMenu .BirthdayListMenu--ListContainer .BirthdayListMenu--ListContainer.Empty p {
    font-weight: 300;
    font-size: 11pt;
    margin: 0;
    text-align: center;
    color: lighten($color: #000000, $amount: 60);
}

.BirthdayListMenu.Open {
    left: 0;
}

.BirthdayListMenu.Closed {
    left: -300px;
}

.BirthdayListMenu .BirthdayListMenu--ToggleBtn {
    display: flex;
    align-items: center;
    padding: 0.3em 1em;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 22.5em;
    color: #f23d6d;
    font-size: 10pt;
    font-weight: 600;
    border-top: 1px solid #f23d6d;
    border-bottom: 1px solid #f23d6d;
    border-right: 1px solid #f23d6d;
    border-left: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    height: 3em;
}

.BirthdayListMenu .BirthdayListMenu--ToggleBtn.Closed {
    width: max-content;
    color: $purple;
    border-top: 1px solid $purple;
    border-bottom: 1px solid $purple;
    border-right: 1px solid $purple;
}

.BirthdayListMenu .BirthdayListMenu--ToggleBtn div {
    transform: rotate(45deg);
    font-size: 18pt;
    font-weight: 300;
    margin-right: 2px;
}

.BirthdayListMenu .BirthdayListMenu--ToggleBtn p {
    margin: 0;
}

@media only screen and (max-width: 425px) {
    .BirthdayListMenu .BirthdayListMenu--ToggleBtn.Open {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3em 1em;
        background-color: white;
        position: absolute;
        top: 1em;
        left: 1.5em;
        color: $pink;
        font-size: 10pt;
        font-weight: 600;
        border: 1px solid $pink;
        border-radius: 7px;
        cursor: pointer;
        height: 3em;
        width: 260px;
    }
    .BirthdayListMenu .BirthdayListMenu--ListContainer {
        margin-top: 4em;
        border-top: 1px solid $grey;
    }

    .BirthdayListMenu .BirthdayListMenu--Wrapper {
        max-height: 92vh;
        overflow-y: auto;
    }
}
