//Colors
$grey: #f2f2f2;
$pink: #f23d6d;
$purple: #bf4eb8;
$yellow: #f2b035;
$blue: #405bff;
$orange: #ff772f;

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  background-color: lighten($color: $purple, $amount: 30);
}

@media only screen and (max-width: 425px) {
  .App {
    padding: 1em;
  }
}
