@import "../../App.scss";

.BirthdayCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1em 1em 2em 1em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    max-width: 18em;
    height: 22.5em;
    transition: ease-in-out 200ms;
    cursor: default;
}

.BirthdayCard:hover {
transform: scale(1.1);
}

.BirthdayCard .BirthdayCard--Header {
    color: $yellow;
    font-weight: 600;
    font-size: 10pt;
}

.BirthdayCard .BirthdayCard--Body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BirthdayCard .BirthdayCard--Footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BirthdayCard p.Empty {
    margin: 0;
}

.BirthdayCard .BirthdayCard--ProfileImg {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
}

.BirthdayCard .BirthdayCard--Name {
    font-weight: 600;
    font-size: 16pt;
    margin-bottom: 0;
    margin-top: 0.5em;
}

.BirthdayCard .BirthdayCard--DOB {
    color: grey;
    font-weight: 400;
    font-size: 10pt;
    margin: 0;
    margin-bottom: 0.25em;
}

.BirthdayCard .BirthdayCard--Age {
    color: $pink;
    font-weight: 600;
    font-size: 10pt;
    margin: 0;
}
