@import "../../App.scss";

.UpcomingBirthdaysCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1em 1em 2em 1em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    max-width: 18em;
    height: 22.5em;
    cursor: default;
    margin: 1em;
}

.UpcomingBirthdaysCard .UpcomingBirthdaysCard--Header {
    color: $yellow;
    font-weight: 600;
    font-size: 10pt;
}

.UpcomingBirthdaysCard .UpcomingBirthdaysCard--Body {
    max-height: 20em;
    height: 100%;
    overflow-y: auto;
}

.UpcomingBirthdaysCard .UpcomingBirthdaysCard--Body.Empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.UpcomingBirthdaysCard .UpcomingBirthdaysCard--Body.Empty p {
    text-align: center;
}

.UpcomingBirthdaysCard .UpcomingBirthdaysCard--Body::-webkit-scrollbar {
    width: 8px;
}

.UpcomingBirthdaysCard .UpcomingBirthdaysCard--Body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.UpcomingBirthdaysCard .UpcomingBirthdaysCard--Body::-webkit-scrollbar-thumb {
    background: #888;
}

.UpcomingBirthdaysCard .UpcomingBirthdaysCard--Body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 425px) {
    .UpcomingBirthdaysCard {
        margin: 1em 0;
    }
}
